/* ページタイトル */
h1{
    font-size: 3rem;
    text-align: center;
}
/* 入力項目名 */
h2{
    font-size: 1.8rem;
}
form{
    margin: 4rem 18rem;
}
form .input-group{
    margin: 2rem 0;
}
button.btn{
    color: #fff;
    margin: 3rem 0;
    background-color: #1F78B4;
}
/* 入力項目名の高さ調整 */
.input-group-text{
    height: 38px;
}
/* 性別横並び */
.form-check-group{
 display: flex;
}

.form-check label{
    font-weight: 300;
    font-size: 1.5rem;
}
/* 女性ラジオボタン */
.woman-radioButton{
    margin-left: 2rem;
}
.form-select{
    width: 34%;
}
.birth-select{
    display:flex;
}
.form-prefectures{
    width: 100%;
}
#checkBox{
    display: flex;
    align-items: center;
    padding: 2rem 0 0 2rem;
}
@media screen and (max-width: 767px){
    form{
        margin: 4rem 2rem;
    }
}