/* メイン全体 */
#main{
  height: max-content;
  background-color: #D7EEFF;
}
/* カード */
.Card{
  margin: 0vh auto;
  width: 90vw;
  height: max-content;
  padding: 4rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 40%);
}
/* 名前とID */
.id_name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5rem 0 0;
  font-size: 1.5rem;
}
/* タイトル */
h1.title {
  text-align: center;
}
/* 月 */
h2.oct {
  text-align: center;
}
/* 前、後の月 */
.month {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}
/* 前、後の月リンク */
.month h3 a{
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #000;
}
/* 前、後の月リンク */
.month h3 a:hover{
  text-decoration: underline;
}
.nextMonth{
  margin: 0 1rem;
}
/* トータル4項目 */
.total {
  display: flex;
  margin: 3rem auto;
}
.total table {
  display: flex;
  justify-content: center;
}
/* トータル項目名、値 */
.total table tr{
  font-size: 1.6rem;
}
/* トータルの項目名 */
.total table th{
  padding: 0 1rem;
  font-weight: 400;
  background: #0099CC;
  color: #fff;
  border-radius: 10px 0 0 10px;
}
/* トータルの値 */
.total table td{
  background: #fff;
  border-radius: 0 10px 10px 0;
  padding: 1rem 1rem;
}
/* グラフ全体 */
table.glaf {
  width: 80vw;
  margin: 0 auto;
  font-size: 1.6rem;
  position: relative;
	border-collapse: collapse; 
}
table.glaf thead tr th{
  background-color: #0099CC;
  color: #fff;
  position: sticky;
	top: 0;
  vertical-align: middle;
  text-align: center;
}
/* グラフの横一列 */
table.glaf tr{
  height: 6vh;
}
/* グラフの日付部分 */
table.glaf th{
  vertical-align: middle;
  text-align: center;
}
/* グラフの値 */
table.glaf td{
  vertical-align: middle;
  text-align: center;
}
th.fir_row {
  font-weight: 400;
}
/* 土曜 */
.saturday{
  color: #3366CC;//青
}
/* 日曜 */
.sunday{
  color: #FF3333;//赤
}
/* 平日 */
.weekday{
  color: #000;//黒
}
/* スクロールバー */
.scroll_bar{
  width: max-content;
  height: 70vh;
  margin: 0 auto;
  overflow-y: scroll;

}
.scroll_bar::-webkit-scrollbar{
  width: 1rem;
}
.scroll_bar::-webkit-scrollbar-track{
  background-color: #ccc;
}
.scroll_bar::-webkit-scrollbar-thumb{
  background-color: #777;
}
/* スクロールバーここまで */


/* 1280px以下 */
@media screen and (max-width: 1280px){
  .Card{
    width: 95vw;
  }
  .total {
    width: 70vw;
  }
  /* .total table {
    display: flex;
  } */
  .total table tr{
    font-size: 1.2rem;
  }
  table.glaf {
    width: 80vw;
    font-size: 1.2rem;
  }
  table.glaf thead tr th{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 912px){
  .month h3 a{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  .total {
    width: 75vw;
  }
  .total table tr{
    height: 6rem;
    font-size: 1.4rem;
  }
  table.glaf {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 834px){
  .Card{
    width: 95vw;
  }
  .id_name {
    padding: 0 2rem 0 0;
  }
  .month{
    padding: 0 2rem;
  }
  .month h3 a{
    padding: 2rem 0;
  }
  .total {
    width: 75vw;
    margin: 1.5rem auto;
  }
  table.glaf th {
    height: 5vh;
  }
  table.glaf td {
    height: 5vh;
  }
  table.glaf thead tr th{
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
  }
}
/* テーブルが横スクロールに切り替えるpx */
@media screen and (max-width: 640px){
  button.btn.btn-outline-info {
    height: 4vh;
  }
  td.edit {
    display: flex;
    align-items: center;
  }
  .total table th{
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
  }
  .total table td{
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  table.glaf {
    margin: 4rem 0 0 0;
  }
  table.glaf thead tr th.fir_row{
    display: grid;
    align-items: center;
    justify-items: center;
  }
  table.glaf tbody tr td{
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  table.glaf tbody tr td{
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  table.glaf tbody tr th{
    display: grid;
    align-items: center;
    justify-items: center;
  }
  /* スクロールバー隠す */
  .scroll_bar{
    overflow-y: hidden;
  }
}
@media screen and (max-width: 480px){
  .Card{
    padding: 0rem;
  }
  .id_name {
    padding: 2rem 2rem 0 0;
  }
  .month h3 a{
    padding: 2rem 0;
  }
  .total {
    margin: 1.5rem auto;
    font-size: 1rem;
  }
  table.glaf tr td{
    height: 5vh;
  }
  @media screen and (max-width: 280px){
    .id_name {
      padding: 1rem 2rem 0 0;
    }
    .month h3 a{
      padding: 2rem 0;
    }
    .total {
      width: 98vw;
      margin: 1.5rem auto;
      font-size: 1rem;
    }
  }
}