body {
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    line-height: 1.25;
    background-color: #fff;
  }
  ​




  

  table tr {
    background-color: #fff;
    border-bottom: 1px solid #8B8B8B;
  }
  table td {
font-size: 20px;
    text-align: center;
  }
  table th {
    font-size: .85em;
    text-align: center;
    border-right: 1px solid #8B8B8B;
  } 
  table thead tr{
    font-size: 15px;
    border-left: 1px solid #8B8B8B;
    border-top: 1px solid #8B8B8B;
    border-bottom: 1px solid #8B8B8B;
    background-color: #167F92;
    color:#fff;
  }
  table tbody th {
    font-size: 15px;
    background: #78bbc7;
    color: #fff;
  }
  table tbody td{
    width: 85px;
    height: 30px;
  }



  .id_name{
    margin: 0;
  }
  .title{
    text-align: center;
  }
  .oct{
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .month{
    display: flex;
    justify-content: space-between;
  }

  .total{
    display: flex;
    justify-content: space-between;
  }
  .total table{
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid #8B8B8B;
  }
  .total table th{
    width: 110px;
    height: 40px;
    border-right: 1px solid #8B8B8B;
    border-radius: 10px 0 0 10px;
    background-color: #167F92;
  }
  .total table td{
    width: 110px;
    height: 40px;
    border-radius: 0 10px 10px 0;
  }

  .glaf{
    margin: 50px auto 100px auto;
    padding: 0;
    text-align: center;
    font-size: 10px;
    table-layout: fixed;
    color: #8B8B8B;
    border-color: #8B8B8B;
  }
  .glaf tr:first-child td:nth-child(2){
    border-radius: 20px 0 0 0;
  }
  .glaf tr:first-child th:last-child{
    border-radius: 0 20px  0 0;
  }
  .glaf tr:last-child th:nth-child(2){
    border-radius: 0 0 0 20px;
  }
  .glaf tr:last-child td:last-child{
    border-radius: 0 0 20px 0;
  }
  .glaf td:first-child{
    width: 50px;
    height: 30px;
    text-align: center;
  }
  .btn{
    background-color: #167F92;
    border: 0.1rem solid #1E70A7;
    width: 40px;
    padding: 0;
  }
  .edit{
    border: #fff;
  }
  .ichiretu{
    width: 110px;
    height: 30px;
  }
  .id_name h6{
    height: 0;
    text-align: right;
    font-size: 15px;
  }
  .date{
    width: 50px;
    height: 30px;
    border: 1px solid #8B8B8B;
  }
  .time{
    border: 1px solid #bbb;
  }
  .txt{
     font-size: .85em;
  }
  .price{
    color: #167F92;
    font-weight: bold;
  }
  .non{
    background-color: #fff;
    border: #fff;
  }
  .none{
    border: 1px solid #8B8B8B;
    background-color: #fff;
  }
  @media screen and (max-width: 764px) {
    body{
      margin: 0 auto;
      text-align: right;
      width: 764px;
    }

    .id_name{
      margin: 0;
    }
    .id_name h6{
      height: 0;
      text-align: right;
      font-size: 15px;
    }
    .title{
      text-align: center;
      font-size: 40px;
    }
    .month h3{
      display: flex;
      justify-content: space-between;
    }
    .total table{
      width: 150px;
      height: 100px;
    }
    .total table tbody{
      height: 108x;
    }
    .total table tr{
      height: 80px;
    }
    .total table th{
      width: 150px;
      border-radius: 10px 10px 0 0;
    }
    .total table td{
      padding: auto;
      width: 150px;
      text-align: center;
      border-color: #fff;
    }


    table th{
      background-color: #167F92;
      display: block;
      border-right: none;
    }
    table tbody tr{
      border-right: none;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      overflow: hidden;
      position: absolute;
    }
    table tr {
      display: block;
      margin-bottom: .625em;
    }
     table td {
      border-bottom: 1px solid #8B8B8B;
      display: block;
      font-size: .8em;
      text-align: right;
      border-right: none;
    }
    .time{
      position: relative;
      padding: .625em .625em .625em 4em;
    }
    table td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      left: 10px;
      color: #167F92;
    }
    table tbody th {
      color: #fff;
    }
    .glaf tr:first-child td:last-child{
      border-radius: 0 0 0 20px;
    }
    .glaf tr:first-child th:last-child{
      border-radius: 0 20px  0 0;
    }
    .glaf tr:first-child th:nth-child(2){
      border-radius: 20px 0 0 0;
    }
    .glaf tr:last-child td:last-child{
      border-radius: 0 0 20px 0;
    }
    .glaf table tbody td{
      position: relative;
      padding: .625em .625em .625em 4em;
    }
    .glaf td:first-child{
      height: 50px;
    }
    .glaf tr{
      border-right: none;
    }
    table tbody td {
      
      font-size: 30px;
      text-align: center;
      width: 190px;
      height: 70px;
    }
    table tbody td::before {
      font-size: 15px;
    }

    .date{
      font-size: 25px;
      width: 190px;
      height: 70px;
    }
    .edit{
      padding: 0;
      border: #fff;
    }

  }