/* メイン全体 */
#main{
    height: 80vh;
}
#searchBox{
    display: flex;
    justify-content: flex-end;
    margin: 0 5rem 5rem 0px;
}
#searchBox input{
    width: 30vw;
    border-radius: 5px;
}
#searchBox button{
    color: #fff;
    background-color: #1F78B4;
    padding: 0 1rem;
    border-radius: 5px;
    height: 3vh;
}
#userListItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 7rem;
}
#userList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 1rem;
    margin: 2rem 5rem;
    border: 1px solid #000;
    border-radius: 10px
}
#userList p{
    margin: 0 0 0 0;
}
#userId{
    font-weight: 500;
    margin-left: 0.5rem;
}
#userName{
    font-size: 1.5rem;
}
#add-deleteButton{
    position: fixed;
    right: 5rem;
    bottom: 2rem;
}
#addButton{
    color: #555;
    margin: 0 2rem;
    font-size: 1rem;
}
#deleteButton{
    color: #f00;
    margin: 0 1rem;
    font-size: 1rem;
}
@media screen and (max-width: 767px){
    /* 検索フォーム全体 */
    .input-group{
        justify-content: flex-end;
    } 
    #searchBox{
        display: flex;
        margin-bottom: 3rem;
        position: relative;
        top: 0;
    }
    /* input type="text" */
    input[type="text"]{
        width: 40vw;
    }
    #add-deleteButton{
        right: 0;
    }
}
@media screen and (max-width: 480px){ 
    /* 検索フォーム全体 */
    .input-group{
        justify-content: flex-end;
    }
    /* input type="text" */
    input[type="text"]{
        width: 50vw;
    }
}