#backButtonBox button{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: transparent;
    background-color:transparent;
}
#backButtonBox button:hover{
    border: transparent;
    background-color:transparent;
}
#backButton{
    font-size: 3rem;
    color: #000;
    position: absolute;
    z-index: 100;
}
@media screen and (max-width: 768px){
    #backButton{
        font-size: 2rem;
    }
}