#backButtonBox button{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: transparent;
    background-color:transparent;
}
#backButtonBox button:hover{
    border: transparent;
    background-color:transparent;
}
#backButton{
    font-size: 3rem;
    color: #000;
    position: relative;
    top: 1rem;
    left: 3rem;
    z-index: 100;
}
@media screen and (max-width: 767px){
    #backButton{
        font-size: 2rem;
        top: 2rem;
        left: 2rem;
    }
}
@media screen and (max-width: 480px){
    #backButton{
        top: 1rem;
        left: 1rem;
    }
}