nav{
    margin-bottom: 8rem;
    opacity: 0.9;
    background-color: #1F78B4;
}
nav a{
    font-size: 1.6rem;
    margin: 1rem 3rem;
    color: #fff;
}
nav a:hover{
    color: #fff;
}
nav li{
    margin: 0 0 0 0;
}
#logoButton{
    color: #fff;
}
@media screen and (max-width: 767px){
    nav{
        margin-bottom: 3rem;
    }
    nav li{
        padding: 1rem 0;
    }
    nav a{
        font-size: 1.5rem;
    }
}