button{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: transparent;
    background-color:transparent;
}
button:hover{
    border: transparent;
    background-color:transparent;
}
/* メイン全体 */
#main{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D7EEFF;
    height: 92vh;
}
.Card{
    width: 45vw;
    height: 85vh;
    padding: 4rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 40%);
}
#userInfoCard{
    width: 35vw;
}
#now{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 現在の日付、曜日 */
#nowDate{
    font-size: 4rem;
}
/* 現在の時刻 */
#nowTime{
    font-size: 8.5rem;
}
/* 打刻ボタン全て */
.engButton{
    height: 18vh;
    margin: 1rem;
    width: 30%;
    border-radius: 10px;
    font-size: 2.0rem;
}
/* ユーザー一覧全体 */
#userList{
    height: 72vh;
}
/* 登録社員タイトル */
#userListTitle{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 打刻ボタン全体 */
.buttonFlex {
    display: flex;
    justify-content: center;
}
/* 出勤ボタン */
#attendanceButton{
    background-color: #9BE9AD;
    border: 1px solid #9BE9AD;
}
/* 出勤ボタンホバー */
#attendanceButton:hover{
    background-color: #C0ECCB;
    border: 1px solid #C0ECCB;
}
/* 退勤ボタン */
#leavingButton{
    background-color: #E6A3A3;
    border: 1px solid #E6A3A3;
}
/* 退勤ボタンホバー */
#leavingButton:hover{
    background-color: #F3C2C2;
    border: 1px solid #F3C2C2;
}
/* 休憩開始ボタン */
#restStartButton{
    background-color: #A3B1D8;
    border: 1px solid #A3B1D8;
}
/* 休憩開始ボタンホバー */
#restStartButton:hover{
    background-color: #C6CEE3;
    border: 1px solid #C6CEE3;
}
/* 休憩終了ボタン */
#restFinishButton{
    background-color: #F2DCA0;
    border: 1px solid #F2DCA0;
}
/* 休憩終了ボタンホバー */
#restFinishButton:hover{
    background-color: #F0E2BD;
    border: 1px solid #F0E2BD;
}
/* スクロールバー */
.scroll_bar{
    height: 60vh;
    overflow-y: scroll;
 }
 .scroll_bar::-webkit-scrollbar{
    width: 1rem;
 }
 .scroll_bar::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 5px;
 }
 .scroll_bar::-webkit-scrollbar-thumb{
    background-color: #777;
    border-radius: 5px;
 }
 
/* 検索フォーム全体 */
#searchMessage{
    margin: 3rem 0;
    text-align: center;
    font-size: 1.5rem;
}
.input-group{
    justify-content: center
}
#searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchBox form {
    display: flex;
    margin: 1rem 0 2rem 0;
}
#searchBox input{
    width: 24vw;
    border-radius: 5px 0 0 5px;
}
#searchBox button{
    height: 4vh;
    color: #fff;
    background-color: #1F78B4;
    padding: 0 1rem;
    border-radius: 0 5px 5px 0;
}
#userNameList{
    font-size: 1.8rem;
    margin-top: 2rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#userName{
    margin: 0 0 0 0;
}
#userLabel{
    border-radius: 15px;
    padding: 0.2rem 1rem;
    background-color: #fff;
    color: #fff;
}
/* 767px以下 (タブレット、スマホ用のデザイン) */
@media screen and (max-width: 912px){
    #main{
        height: max-content;
        flex-direction: column;
    }
    .Card{
        margin: 2rem 0 0 0;
        padding: 4rem 0 2rem 0;
        height: max-content;
        width: 100vw;
        box-shadow: 20px 0 20px 0 rgb(0 0 0 / 20%);
    } 
    #userInfoCard{
        width: 100vw;
    }
    #nowDate{
        font-size: 3rem;
        text-align: center;
    }
    #nowTime{
        font-size: 8rem;
        text-align: center;
    }
    /* 打刻ボタン全て */
    .engButton{
        width: 30vw;
    }
    .buttonFlex{
        display:flex;
        justify-content: center;
    }
    #userList{
        width: 90vw;
        margin: 0 auto;
    }
    #userNameList{
        padding: 0 8rem;
    }
    #searchBox input{
        width: 70vw;
    }
}
/* 480px以下（スマホ用デザイン） */
@media screen and (max-width: 480px){
    #nowDate{
        font-size: 2rem;
        text-align: center;
    }
    #nowTime{
        font-size: 6rem;
        text-align: center;
    }
    /* 打刻ボタン全て */
    .engButton{
        width: 40vw;
    }
    input[type="text"]{
        width: 70vw;
    }
    /* スクロールバー */
    .scroll_bar{
        height: 54vh;
    }
}