body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.back{
    background-image: url(../img/rogo.jpg);
    margin: 0 auto 0 auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.4;
}
img{
    height: 7vh;
}
#logo{
    margin: 10px auto;
}
#errMessage{
    position: fixed;
    bottom: 2rem;
    right: 4rem;
}
#loginCard{
    width: 35vw;
    height: 65vh;
    background-color: #fff;
    position: fixed;
    inset: 0;
    margin: auto;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
h1{ 
    height: 30vh;
    margin: 1.5rem 0 -1rem 0;
    font-size: 5vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
form input{
    height: 5vh;
}
#loginForm {
    height: 50vh;
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mb-3{
    width: 25vw;
}
#loginForm>button {
    width: 25vw;
    margin-top: 2rem;
    background-color: #1F78B4;
}
#loginForm>button:hover{
    background-color: #1F78B2;
}
/* スマホ用、タブレット用 */
@media screen and (max-width: 768px){
    #loginCard{
        width: 90vw;
    }
    .mb-3{
        width: 75vw;
    }
    #loginForm>button {
        width: 75vw;
    }
    #errMessage{
        position: fixed;
        top: 2rem;
        left: 4.6rem;
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px){
    body{
        height: 667px;
    }
    .back{
        background-image: url(../img/rogo.jpg);
        margin: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.4;
    }
}