body {
    margin: 0;
    padding: 0;
    background-color: #D7EEFF;
}
img{
    height: 6vh;
}
#logo{
    margin: 10px auto;
}
.message.error {
    height: auto;
    width: 60%; 
    font-size: 1.6rem;
    position: relative;
    bottom: 0;
}
#loginCard{
    width: 35vw;
    height: max-content;
    background-color: #fff;
    position: fixed;
    inset: 0;
    margin: auto;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    border-radius: 10px;
}
h1{ 
    height: 15vh;
    margin: 0;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
input.form-control{
    height: 4rem;
}
#loginForm {
    height: 40vh;
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mb-3{
    width: 25vw;
}
#loginForm button {
    height: 4rem;
    width: 25vw;
    background-color: #1F78B4;
    border: 1px solid #1F78B4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginForm button:hover{
    background-color: #1F78B2;
}
/* スマホ用、タブレット用 */
@media screen and (max-width: 1024px){
    .message.error {
        width: 70%;
        font-size: 1.4rem;
    }
    #loginCard{
        width: 50vw;
    }
    #loginForm{
        margin: 0rem auto 0 auto;
    }
    .mb-3{
        width: 40vw;
    }
    #loginForm button {
        width: 40vw;
    }
}
/* スマホ用、タブレット用 */
@media screen and (max-width: 820px){
    .message.error {
        width: 70%;
        font-size: 1.5rem;
    }
    #loginCard{
        width: 60vw;
    }
    #loginForm{
        margin: 0rem auto 0 auto;
    }
    .mb-3{
        width: 50vw;
    }
    #loginForm button {
        width: 50vw;
    }
}
@media screen and (max-width: 481px){
    .message.error {
        width: 70%; 
        font-size: 1.2rem;
    }
    h1{ 
        font-size: 3vh;
    }
    .back{
        background-image: url(../img/rogo.jpg);
        margin: auto;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.4;
    }
    .form-control{
        margin-bottom: 1rem;
    }
    #loginCard{
        width: 75vw;
    }
}
@media screen and (max-height: 600px){
    .message.error {
        margin: 10rem 0 0 0;
        font-size: 1.2rem;
    }
    #loginCard{
        height: auto;
    }
    h1{
        margin: 0 0 5rem 0;
    }
}