#open,
.close {
  width: 30vw;
  text-align: center;
}
/* はい、いいえボックス*/
#selectButton{
  display: flex;
}
/* はい、いいえ pタグ共通部分 */
.close p{
  height: 5vh;
  border-radius: 5px;
  border: 2px solid #1F78B4;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* メッセージ */
#editMessage{
  text-align: center;
  font-size: 1.6rem;
}
/* はいボタン */
#yesButton{
  background-color: #1F78B4;
}
/* 背景 */
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
/* モーダル */
#modal {
  height: 40vh;
  width: 30vw;
  padding: 2rem;
  color: #555;
  background: #fff;
  border-radius: 10px;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* モーダルのpタグ */
#modal p {
  margin: 0 1rem;
}
/* 隠す */
#mask.hidden {
  display: none;
}
/* 隠す */
#modal.hidden {
  display: none;
}
/* スマホ、タブレット用 */
@media screen and (max-width: 767px){
  /* 幅 */
  #modal{
    width: 70vw;
  }
  /* メッセージのフォントサイズ */
  #editMessage{
    font-size: 1rem;
  }
}