/* メイン全体 */
#main{
    height: max-content;
    background-color: #D7EEFF;
}
/* カード */
.Card{
    margin: 0vh auto;
    width: 80vw;
    height: max-content;
    padding: 4rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 40%);
}
/* 名前とID */
.id_name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5rem 0 0;
    font-size: 1.5rem;
}
/* タイトル */
h1.title {
    text-align: center;
    font-size: 3rem;
}
/* 月 */
h2.oct {
    text-align: center;
    margin: 0 0 3rem 0;
}
div#addPunch {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* flex-wrap: nowrap; */
  padding: 0 5rem 2rem 0;
}
#addPunch button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  font-size: 1.8rem;
}
#editTable{
    width: 70vw;
    font-size: 2rem;
    position: relative;
    border-collapse: collapse; 
}
#editTable table tr th{
    height: 5vh;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    font-weight: 300;
}
#editTable table tr td{
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}
select{
    width: 8vw;
}
/* 隠す */
.hidden {
  display: none;
}
/* スクロールバー */
.scroll_bar{
  width: max-content;
  height: 52vh;
  margin: 0 auto;
  overflow-y: scroll;
}
.scroll_bar::-webkit-scrollbar{
  width: 1rem;
}
.scroll_bar::-webkit-scrollbar-track{
  background-color: #ccc;
}
.scroll_bar::-webkit-scrollbar-thumb{
  background-color: #777;
}
/* スクロールバーここまで */


/* 1280px以下 */
@media screen and (max-width: 1280px){
    .Card{
      width: 95vw;
    }
    #editTable{
        width: 80vw;
    }
}
@media screen and (max-width: 912px){
    #editTable{
        width: 85vw;
    }
}
@media screen and (max-width: 834px){
    .Card{
      width: 95vw;
    }
    .id_name {
      padding: 0 2rem 0 0;
    }
    #editTable{
        width: 75vw;
    }
    #editTable table tr th{
        font-size: 1.5rem;
    }
    #editTable table tr td{
        font-size: 1.5rem;
    }
}
/* テーブルが横スクロールに切り替えるpx */
@media screen and (max-width: 640px){
    h2.oct {
      margin: 0;
    } 
    div#addPunch {
      justify-content: center;
      padding: 2rem 0;
    }
    #editTable table tr th{
        height: 8vh;
        font-size: 1.5rem;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    #editTable table tr td{
        height: 8vh;
        font-size: 1.5rem;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    /* スクロールバー隠す */
    .scroll_bar{
      overflow-y: hidden;
    }
  }
/* スマホ版 */
@media screen and (max-width: 480px){
    .Card{
      padding: 0rem;
    }
    .id_name {
      padding: 2rem  2rem 0 0;
    }
    #editTable{
        width: 90vw;
    }
}
@media screen and (max-width: 280px){
    .id_name {
      padding: 1rem 2rem 0 0;
    }
}