#main{
  height: auto;
  background-color: #D7EEFF;
}
.Card{
  margin: 0vh auto;
  width: 90vw;
  height: auto;
  padding: 4rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 40%);
}
.id_name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5rem 0 0;
  font-size: 1.5rem;
}
h1.title {
  text-align: center;
}
h2.oct {
  text-align: center;
}
.month {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}
.month h3 a{
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #000;
}
.month h3 a:hover{
  text-decoration: underline;
}
.nextMonth{
  margin: 0 1rem;
}
.total {
  display: flex;
  margin: 3rem auto;
}
.total table {
  display: flex;
  justify-content: center;
}
.total table th{
  padding: 0 1rem;
  font-weight: 400;
  background: #0099CC;
  color: #fff;
  border-radius: 10px 0 0 10px;
}
.total table td{
  background: #fff;
  border-radius: 0 10px 10px 0;
  padding: 1rem 1rem;
}
.total table tr{
  font-size: 2rem;
}
table.glaf {
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  position: relative;
	border-collapse: collapse; 
}
table.glaf thead tr th{
  background-color: #0099CC;
  color: #fff;
  position: sticky;
	top: 0; 
}
table.glaf tr{
  height: 6vh;
}
table.glaf th{
  vertical-align: middle;
  text-align: center;
}
table.glaf td{
  vertical-align: middle;
  text-align: center;
}
/* スクロールバー */
.scroll_bar{
  width: max-content;
  height: 70vh;
  margin: 0 auto;
  overflow-y: scroll;
}
.scroll_bar::-webkit-scrollbar{
  width: 1rem;
}
.scroll_bar::-webkit-scrollbar-track{
  background-color: #ccc;
}
.scroll_bar::-webkit-scrollbar-thumb{
  background-color: #777;
}
@media screen and (max-width: 1280px){
  .Card{
    width: 95vw;
  }
  .total {
    width: 70vw;
  }
  .total table {
    display: flex;
  }
  .total table th{
    font-size: 1.2rem;
  }
  .total table td{
    font-size: 1.2rem;
  }
  table.glaf {
    width: 80vw;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 900px){
  .month h3 a{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  .total {
    width: 75vw;
  }
  .total table th{
    height: 5vh;
    font-size: 1.2rem;
  }
  .total table td{
    height: 5vh;
    font-size: 1.2rem;
  }
  table.glaf {
    width: 80vw;
    margin: 0 auto;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 834px){
  .Card{
    width: 100vw;
    padding: 2rem;
  }
  .id_name {
    padding: 0 2rem 0 0;
  }
  .month{
    padding: 0 2rem;
  }
  .month h3 a{
    padding: 2rem 0;
  }
  .total {
    width: 75vw;
    margin: 1.5rem auto;
  }
  table.glaf th {
    height: 5vh;
  }
  table.glaf td {
    height: 5vh;
  }
}
@media screen and (max-width: 640px){
  .total table th{
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
  }
  .total table td{
    text-align: center;
    border-radius: 0 0 10px 10px;
    margin: 0 0 1.5rem 0;
  }
  /* スクロールバー */
  .scroll_bar{
    overflow-y: hidden;
  }
}
@media screen and (max-width: 480px){
  #main{
    height: 92vh;
  }
  .Card{
    height: 92vh;
  }
  .Card{
    padding: 0rem;
    height: max-content;
  }
  .id_name {
    padding: 2rem  2rem 0 0;
  }
  .month h3 a{
    padding: 2rem 0;
  }
  .total {
    margin: 1.5rem auto;
    font-size: 1rem;
  }
  @media screen and (max-width: 280px){#main{
    height: 92vh;
    }
    .Card{
      width: 100vw;
      padding: 0rem;
    }
    .id_name {
      padding: 1rem 2rem 0 0;
    }
    .month h3 a{
      padding: 2rem 0;
    }
    .total {
      width: 98vw;
      margin: 1.5rem auto;
      font-size: 1rem;
    }
}